$font-family: "JetBrains Mono", sans-serif;

body, html {
	width: 100%; height: 100%;
}

body {
	font-family: $font-family;

	display: grid; grid-template-rows: 60px auto 120px;
}
header, footer {
	background-color: #2b5364;
	color: white;
	padding: 0.5rem 2rem;
}
header .logo a {
	text-decoration: none;
	font-size: 1.75rem;
	font-weight: 600;
	color: white;
}